# Session 5

In [79]:
integerAddition = 55 * 66 #camelCase

In [81]:
integer_addition = 55 * 67 #snake_Case

In [83]:
myName = 'Nikki' #camelCase

In [85]:
my_name = 'Nikki' #snake_case

In [87]:
print(myName)

Nikki

In [89]:
len(myName) #shomaresh

5

In [91]:
print(myName[0]) #Harf avale esme man

N

In [92]:
print(myName[3]) #Harf sevom esme man

k

In [95]:
myName[1]

'i'

In [97]:
myName[-1] #harf akhar

'i'

In [99]:
len(myName[-1]) #Eshtebahhhhhh

1

In [101]:
myName[len(myName)-1]

'i'

## در کروشه ی لِن فقط مجاز هستیم به تعداد حروف موجود عدد وارد کرد در غیر این صورت ارور می دهد
## چون اعداد در برنامه نویسی از 0 شروع می شوند عدد داخل کروشه یکی کمتر می شود
## به عنوان مثال : نیکی 4 کاراکتری می شود

In [104]:
myName[4]

'i'

In [106]:
myName[5] #Error

IndexError: string index out of range

In [108]:
myName[0:5]

'Nikki'

In [110]:
myName[1:3]

'ik'

In [112]:
myName[1]

'i'

In [114]:
myName[2]

'k'

In [116]:
myName[3]

'k'

In [118]:
mySurname = 'Khayyat'
myFullName = myName + mySurname
myFullName

'NikkiKhayyat'

In [120]:
myName * myName

TypeError: can't multiply sequence by non-int of type 'str'

In [122]:
_Int = 1
tempInt = 1
tempStr = 'Hello'
print(tempInt*2)
print(tempStr*2)       # neveshteh ra be tedad minevisad
temp = """lmnopqrst
uvw
xyz
hehehehe"""

2
HelloHello

In [124]:
myName

'Nikki'

In [126]:
myName.find('ik')

1

In [128]:
_str = "abcdaefg"

In [130]:
_str.find("a")

0

# Session 6

In [133]:
a = 2 
b = a 
a is b

True

In [135]:
a == b

True

In [137]:
a = 2 
b = 2

In [139]:
a is b

True

In [140]:
a == b

True

### Exercise 
یک صفحه ی ویکی پدیای پایتون را کپی کنید و ببینید چند کلمه ی پایتون در آن وجود دارد

In [144]:
text = """ Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.

Python is dynamically typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a batteries included language due to its comprehensive standard library.

Guido van Rossum began working on Python in the late 1980s as a successor to the ABC programming language and first released it in 1991 as Python 0.9.0. Python 2.0 was released in 2000. Python 3.0, released in 2008, was a major revision not completely backward-compatible with earlier versions. Python 2.7.18, released in 2020, was the last release of Python 2.[36]

Python consistently ranks as one of the most popular programming languages, and has gained widespread use in the machine learning community.

History
Main article: History of Python

The designer of Python, Guido van Rossum, at OSCON 2006
Python was invented in the late 1980s by Guido van Rossum at Centrum Wiskunde & Informatica in the Netherlands as a successor to the ABC programming language, which was inspired by SETL, capable of exception handling and interfacing with the Amoeba operating system. Its implementation began in December 1989. Van Rossum shouldered sole responsibility for the project, as the lead developer, until 12 July 2018, when he announced his "permanent vacation" from his responsibilities as Python's "benevolent dictator for life" BDFL, a title the Python community bestowed upon him to reflect his long-term commitment as the project's chief decision-maker he has since come out of retirement and is self-titled "BDFL-emeritus". In January 2019, active Python core developers elected a five-member Steering Council to lead the project.

Python 2.0 was released on 16 October 2000, with many major new features such as list comprehensions, cycle-detecting garbage collection, reference counting, and Unicode support. Python 3.0 was released on 3 December 2008, with many of its major features backported to Python 2.6.x 48 and 2.7.x. Releases of Python 3 include the 2to3 utility, which automates the translation of Python 2 code to Python 3.

Python 2.7's end-of-life was initially set for 2015, then postponed to 2020 out of concern that a large body of existing code could not easily be forward-ported to Python 3. No further security patches or other improvements will be released for it. Currently only 3.9 and later are supported 2023 security issues were fixed in e.g. 3.7.17, the final 3.7.x release. While Python 2.7 and older is officially unsupported, a different unofficial Python implementation, PyPy, continues to support Python 2, i.e. "2.7.18+" plus 3.10, with the plus meaning at least some "backported security updates".

In 2021 and again twice in 2022, and in September 2024 for Python 3.12.6 down to 3.8.20, security updates were expedited, since all Python versions were insecure including 2.7 because of security issues leading to possible remote code execution and web-cache poisoning. In 2022, Python 3.10.4 and 3.9.12 were expedited and 3.8.13, because of many security issues. When Python 3.9.13 was released in May 2022, it was announced that the 3.9 series joining the older series 3.8 and 3.7 would only receive security fixes in the future. On 7 September 2022, four new releases were made due to a potential denial-of-service attack: 3.10.7, 3.9.14, 3.8.14, and 3.7.14.

Every Python release since 3.5 has added some syntax to the language. 3.10 added the | union type operator and the match and case keywords for structural pattern matching statements. 3.11 expanded exception handling functionality. Python 3.12 added the new keyword type. Notable changes in 3.11 from 3.10 include increased program execution speed and improved error reporting. Python 3.11 claims to be between 10 and 60% faster than Python 3.10, and Python 3.12 adds another 5% on top of that. It also has improved error messages, and many other changes.

Python 3.13 introduces more syntax for types, a new and improved interactive interpreter REPL, featuring multi-line editing and color support; an incremental garbage collector producing shorter pauses for collection in programs with a lot of objects, and addition to the improved speed in 3.11 and 3.12, and an experimental just-in-time JIT compiler such features, can or needs to be enabled specifically for the increase in speed, and an experimental free-threaded build mode, which disables the global interpreter lock GIL, allowing threads to run more concurrently, that latter feature enabled with python3.13t or python3.13t.exe.

Python 3.13 introduces some change in behavior, i.e. new well-defined semantics, fixing bugs plus many removals of deprecated classes, functions and methods, and removed some of the C API and outdated modules "The old implementation of locals and frame.f_locals is slow, inconsistent and buggy has many corner cases and oddities. Code that works around those may need to be changed. Code that uses locals for simple templating, or print debugging, will continue to work correctly.

Since 7 October 2024, Python 3.13 is the latest stable release, and 3.13 and 3.12 are the only versions with active as opposed to just security support and Python 3.9 is the oldest supported version of Python albeit in the 'security support' phase, due to Python 3.8 reaching end-of-life. Starting with 3.13, it and later versions have 2 years of full support up from one and a half; followed by 3 years of security support for same total support as before).

Some more standard library modules and many deprecated classes, functions and methods, will be removed in Python 3.15 or 3.16."""

In [146]:
text.find('python')

4701

In [148]:
substring = "Python"  
count = 0  
index = 0  
while index != -1:  
    index = text.find(substring, index)  
    if index != -1:  
        count += 1  
        index += len(substring)  # Move past the current index  

print("Substring found:", count, "times.")

Substring found: 42 times.

In [150]:
word = text.find("Python")  
print(word)

1

In [152]:
myFullName[0]

'N'

In [154]:
myFullName[0] = 'e'     ### dar inja nemitavan baraye string character avaz kar

TypeError: 'str' object does not support item assignment

In [156]:
myFatherName = 'Amir'

In [158]:
myName

'Nikki'

In [160]:
myFullName = myName + mySurname
myFullName

'NikkiKhayyat'

### in myFullName it finds my full name. in myName it finds my name without surname. in myFatherName it replaces my name with my father's.

In [163]:
myFatherFullName = myFullName.replace(myName, myFatherName)
myFatherFullName

'AmirKhayyat'

In [165]:
myDoubleFullName = myFullName * 2
myDoubleFullName

'NikkiKhayyatNikkiKhayyat'

In [167]:
myFatherDoubleFullName = myDoubleFullName.replace(myName, myFatherName)
myFatherDoubleFullName

'AmirKhayyatAmirKhayyat'

In [169]:
myName.upper()

'NIKKI'

In [171]:
myName.isalpha()

True

In [173]:
myTachersName = 'Amir hoshang Hoseinpour Dehkordi'

In [175]:
splitedTeachersName = myTachersName.split(' ')
splitedTeachersName

['Amir', 'hoshang', 'Hoseinpour', 'Dehkordi']

In [177]:
myCammaTeachersName = 'Amir,hoshang,Hoseinpour,Dehkordi'
splitedCammaTeachersName = myCammaTeachersName.split(' ')
splitedCammaTeachersName

['Amir,hoshang,Hoseinpour,Dehkordi']

In [179]:
time = '17;47;33'
splitedTime = time.split(' ')
splitedTime

['17;47;33']

In [181]:
dir(myName)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [183]:
help(myName.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [185]:
tempString = 'A\nB\tc' #\n is the end-of-line, \t is tab
print(tempString)

A
B	c

In [187]:
tS1 = 'Mohammad'
tS2 = 'Ali'
print(tS1 + "\n" + tS2)

Mohammad
Ali

In [189]:
print("Ali goft:\"salam\"")

Ali goft:"salam"

# Next Session we'll talk about Lists

# Session 7 Lists

In [193]:
if True:
    print('salam')

salam

In [195]:
if False:
    print('salam')

In [197]:
if 3:
    print('salam')

salam

In [199]:
if 2:
    print('salam')

salam

In [201]:
if 1:
    print('salam')

salam

In [203]:
if 0:
    print('salam')

In [205]:
if "amir":
    print('salam')

salam

# جلوی دستور ایف، باید یک مقدار true یا false باشد

In [208]:
if "amir":
    print('salam')
print('Hello')

salam
Hello

In [210]:
if "amir":
    print('salam')
    print('Hello')

salam
Hello

In [212]:
if "amir":
    print('salam')
print('Hello')   # این دیگه جز دستور ایف نیست

salam
Hello

In [214]:
myName = 'Nikki'    # چک کنید ببینید اسم شما بیشتر از 5 حرف دارد یا نه
if len(myName) >= 5:
    print('long')

long

In [216]:
myName = 'Nik'   
if len(myName) >= 5: 
    print('long')
else:
    print('short')

short

In [218]:
inputName = 'Amirali'   
if len(inputName) > 5:
    print('long')
elif 3 < len(inputName) <= 5:
    print('ordinary')
elif len(inputName) <= 3:
    print('short')

long

In [220]:
inputName = 'Amir'   
if len(inputName) > 5:
    print('long')
elif 3 < len(inputName):    # کد کوتاه تر
    print('ordinary')
elif len(inputName) <= 3:
    print('short')

ordinary

In [222]:
inputName = 'Nikki'   
if len(inputName) > 5:
    print('long')
elif 3 < len(inputName):    # کد کوتاه تر
    print('ordinary')
elif len(inputName) <= 3:
    print('short')

ordinary

In [224]:
inputName = 'Ali'   
if len(inputName) > 5:
    print('long')
elif 3 < len(inputName):    # کد کوتاه تر
    print('ordinary')
elif len(inputName) <= 3:
    print('short')

short

In [226]:
inputAge = 23

if inputAge < 20:
    
    if inputAge % 2 :
        print('zoj koochak')
        
    else:
        print('Fard koochak')
else:
    
    if inputAge % 2 :
        print('zoj bozorg')
        
    else:
        print('Fard bozorg')

zoj bozorg

## Loop

In [229]:
tempInt  = 8
while tempInt > 0:
    print(tempInt)
    tempInt -= 1

8
7
6
5
4
3
2
1

### Q.Fibonacci < 100

In [232]:
fib(n) = fib(n-1) + fib(n-2)                                           # my code has some issues that doesn't run correctly
while finb(n) <= 100:

    print(fibInt)
    fibInt -= 1

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (3437625805.py, line 1)

In [236]:
def fibonacci_less_than_100():  
    fibInt1, fibInt2 = 0, 1  # Starting values of Fibonacci sequence  
    while fibInt1 < 100:  
        print(fibInt1)  # Print the current Fibonacci number  
        fibInt1, fibInt2 = fibInt2, fibInt1 + fibInt2  # Update to the next Fibonacci numbers  

fibonacci_less_than_100()

0
1
1
2
3
5
8
13
21
34
55
89

In [238]:
def fibonacci_upto_100():  
    # Initialize the first two Fibonacci numbers  
    fib_sequence = [0, 1]  
    
    # Continuously calculate the next Fibonacci number until it is less than 100  
    while True:  
        next_fib = fib_sequence[-1] + fib_sequence[-2]  
        if next_fib < 100:  
            fib_sequence.append(next_fib)  
        else:  
            break  

    return fib_sequence  

# Call the function and print the Fibonacci numbers less than 100  
fibonacci_numbers = fibonacci_upto_100()  
print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

### Q. check if p is prime or not

In [241]:
p = 7 
tempP = p-1
ayaAvalAst = True 
while tempP > 1:
    if p % tempP == 0:
        ayaAvalAst = False
    tempP -=1
if ayaAvalAst:
        print('not prime')
else:
        print('prime')

not prime

In [243]:
p = 19 
tempP = 2
ayaAvalAst = True 
while tempP < p:
    if p % tempP == 0:
        ayaAvalAst = False
        break
    tempP += 1
    
if ayaAvalAst:
        print('IS prime')
else:
        print('IS NOT prime')

IS prime

### Q. n-th prime number

In [255]:
n = 10
while n% = true

SyntaxError: invalid syntax (455384919.py, line 2)

# "For" Loop

In [258]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [260]:
sum = 0 
for i in range(5):
    sum += i 
print(sum)

10

In [262]:
sum = 0 
for i in range(5):
    sum += i 
    print("i="+str(i)+",sum="+str(sum))
print("END")

i=0,sum=0
i=1,sum=1
i=2,sum=3
i=3,sum=6
i=4,sum=10
END

In [264]:
fact = 1              # my code 
for i in range(4):
    fact *= (i+1)
print(fact)

24

In [266]:
n=4                 # professor's code 
fact=1
for i in range(n):
    fact=fact*(i+1)
print(fact)

24

In [268]:
n=25
for n in range(25):
    if n/3==0:
        print('Hop!')
print(n)

Hop!
24

# List Session 10

In [271]:
tempList = [35 , "Amir" , 3.14]
len(tempList)

3

In [273]:
tempList[0]

35

In [275]:
tempList[1]

'Amir'

In [277]:
len(tempList[1])

4

In [279]:
tempList[1][3]

'r'

In [281]:
tempList[:-1]

[35, 'Amir']

In [283]:
tempList[1:]

['Amir', 3.14]

In [285]:
tempList[0][1]    #error because of string

TypeError: 'int' object is not subscriptable

In [287]:
tempList[2]

3.14

In [289]:
str(tempList[2])

'3.14'

In [291]:
str(tempList[2])[3]

'4'

In [293]:
str(tempList[2])[2]

'1'

In [295]:
str(tempList[2])[1]

'.'

In [297]:
str(23)

'23'

In [299]:
a = 36       #pars/cast something 
str(a)

'36'

In [301]:
pi = 3.14
int(pi)

3

In [303]:
e = 2.7 
int(e)

2

In [305]:
tempList = tempList+[2 , 'programming' , 2.71828]
tempList

[35, 'Amir', 3.14, 2, 'programming', 2.71828]

In [307]:
tempList += "Ali"
tempList

[35, 'Amir', 3.14, 2, 'programming', 2.71828, 'A', 'l', 'i']

In [309]:
tempList.append("tehran")
tempList

[35, 'Amir', 3.14, 2, 'programming', 2.71828, 'A', 'l', 'i', 'tehran']

In [311]:
dir(tempList)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [313]:
tempList.pop(1)

'Amir'

In [315]:
tempList

[35, 3.14, 2, 'programming', 2.71828, 'A', 'l', 'i', 'tehran']

In [317]:
ages = [32, 25, 35, 21]
ages.sort()
ages

[21, 25, 32, 35]

In [319]:
tempList.sort()   # error occurred 
tempList

TypeError: '<' not supported between instances of 'str' and 'int'

In [321]:
ages = ["s", "2", "35", "B", "a", "b", "A"]
ages.sort()
ages

['2', '35', 'A', 'B', 'a', 'b', 's']

In [323]:
ages[4]

'a'

In [325]:
ages[5]

'b'

In [327]:
ages[7] ## currect error occurred

IndexError: list index out of range

In [329]:
nestedArray = [[1,2,3], [4,5,6], [7,8,9]]
nestedArray[1]   #0        1        2

[4, 5, 6]

In [331]:
nestedArray[1][2]

6

In [333]:
myScores = [20, 13, 11, 17, 15]
myCourses = ["Math", "History", "Chemistry", "Physics", "AP"]

In [335]:
for i in myScores:                                                        # برای i هایی که توی یک چیزی هستن
    print(i)

20
13
11
17
15

In [337]:
for i in myScores:   # My Code 
    print(i) 
for j in myCourses:
    print(j)

20
13
11
17
15
Math
History
Chemistry
Physics
AP

In [339]:
myScores = [20, 13, 11, 17, 15, 8]                                # Help from chat gpt 
myCourses = ["Math", "History", "Chemistry", "Physics", "AP", "BP"]  

for course, score in zip(myCourses, myScores):  
    print(f"{course} = {score}")

Math = 20
History = 13
Chemistry = 11
Physics = 17
AP = 15
BP = 8

## Q. print courses that i passed in the decending order. (eliminate scores < 10)

In [342]:
myScores = [20, 13, 11, 17, 15, 4]
myCourses = ["Math", "History", "Chemistry", "Physics", "AP", "BP"]

In [344]:
myScores.sort()
for course , score in zip(myCourses, myScores):
    print(f"{course} = {score}")

Math = 4
History = 11
Chemistry = 13
Physics = 15
AP = 17
BP = 20

In [346]:
myScores = [20, 13, 11, 17, 15, 4]                                  # Professor's code (correct)
myCourses = ["Math", "History", "Chemistry", "Physics", "AP", "BP"]

myScores.sort()
for i in range(len(myScores)):
    if myScores[i] >= 10:
        print(myCourses[i] + " = " + str(myScores[i]))

History = 11
Chemistry = 13
Physics = 15
AP = 17
BP = 20

# Session 11 DICTIONARIES

In [349]:
myProfile = {'Name':'Nikki' , 'Age':23}
print(myProfile)

{'Name': 'Nikki', 'Age': 23}

In [351]:
nameDict = {'firstname': 'Nikki', 'lastname': 'Khayyat'}  # Fixed quote for 'firstname'  
print(nameDict)

{'firstname': 'Nikki', 'lastname': 'Khayyat'}

In [353]:
myProfile = {'name': nameDict, 'age': 23}  
print(myProfile)

{'name': {'firstname': 'Nikki', 'lastname': 'Khayyat'}, 'age': 23}

In [355]:
cities = ['Tehran', 'Boston', 'Shahrekord']

In [357]:
myProfile['cities'] = cities

In [359]:
print(myProfile)

{'name': {'firstname': 'Nikki', 'lastname': 'Khayyat'}, 'age': 23, 'cities': ['Tehran', 'Boston', 'Shahrekord']}

In [361]:
print(len(myProfile['cities']))

3

In [363]:
print(myProfile['cities'][-1])

Shahrekord

In [365]:
myProfile['friends'] = [{'firstname' : 'Charles', 'lastname' : 'Lec' , 'age' : 27, 'ID' : 0} ,
                        {'firstname' : 'Franco', 'lastname' : 'Colapinto', 'age' : 21, 'ID' :0}]
myProfile

{'name': {'firstname': 'Nikki', 'lastname': 'Khayyat'},
 'age': 23,
 'cities': ['Tehran', 'Boston', 'Shahrekord'],
 'friends': [{'firstname': 'Charles', 'lastname': 'Lec', 'age': 27, 'ID': 0},
  {'firstname': 'Franco', 'lastname': 'Colapinto', 'age': 21, 'ID': 0}]}

In [367]:
myProfile['friends'].append({'firstname' : 'Lewis', 'lastname' : 'Hamilton' , 'age' : 40, 'ID' : 0})
print(myProfile['friends'])

[{'firstname': 'Charles', 'lastname': 'Lec', 'age': 27, 'ID': 0}, {'firstname': 'Franco', 'lastname': 'Colapinto', 'age': 21, 'ID': 0}, {'firstname': 'Lewis', 'lastname': 'Hamilton', 'age': 40, 'ID': 0}]

In [369]:
myProfile['friends'] = [{'firstname' : 'Charles', 'lastname' : 'Lec' , 'age' : 27 , 'ID' : 0} ,
                        {'firstname' : 'Franco', 'lastname' : 'Colapinto', 'age' : 21, 'ID' :0}]
myProfile

{'name': {'firstname': 'Nikki', 'lastname': 'Khayyat'},
 'age': 23,
 'cities': ['Tehran', 'Boston', 'Shahrekord'],
 'friends': [{'firstname': 'Charles', 'lastname': 'Lec', 'age': 27, 'ID': 0},
  {'firstname': 'Franco', 'lastname': 'Colapinto', 'age': 21, 'ID': 0}]}

In [371]:
myProfile['friends'].append({'firstname' : 'Lewis', 'lastname' : 'Hamilton' , 'age' : 40, 'ID' : 0})
print(myProfile['friends'])

[{'firstname': 'Charles', 'lastname': 'Lec', 'age': 27, 'ID': 0}, {'firstname': 'Franco', 'lastname': 'Colapinto', 'age': 21, 'ID': 0}, {'firstname': 'Lewis', 'lastname': 'Hamilton', 'age': 40, 'ID': 0}]

In [373]:
myProfile

{'name': {'firstname': 'Nikki', 'lastname': 'Khayyat'},
 'age': 23,
 'cities': ['Tehran', 'Boston', 'Shahrekord'],
 'friends': [{'firstname': 'Charles', 'lastname': 'Lec', 'age': 27, 'ID': 0},
  {'firstname': 'Franco', 'lastname': 'Colapinto', 'age': 21, 'ID': 0},
  {'firstname': 'Lewis', 'lastname': 'Hamilton', 'age': 40, 'ID': 0}]}

# Q. اسم مسن ترین دوست و میانگین سن دوستانتون رو بنویسید

# Q.Print name of oldest friend and avarage age of your friends

In [377]:
def oldest_average_friend(myDict):
    maxAge = 0
    maxFriend = 0
    sumAge = 0 
    for i in myDict['friends']:
        sumAge += i['age']
        if i['age'] > maxAge:
            maxAge = i['age']
            maxFriend = i
            averageAge = sumAge / len(myDict['friends'])
            return [maxFriend , averageAge]

In [379]:
oldestfriend = oldest_average_friend(myProfile)[0]
print(oldestfriend["firstname"])
averageAgeOfMyFriend = oldest_average_friend(myProfile)[1]
print (averageAgeOfMyFriend)

Charles
9.0

In [381]:
n= 3
mult = 1
myName = "nikki"
for i in range(n):
    mult = mult * 2
    a = mult
    print(myName * a)

nikkinikki
nikkinikkinikkinikki
nikkinikkinikkinikkinikkinikkinikkinikki

# Session 13

In [384]:
myProfile.keys()

dict_keys(['name', 'age', 'cities', 'friends'])

In [386]:
myProfile.values()

dict_values([{'firstname': 'Nikki', 'lastname': 'Khayyat'}, 23, ['Tehran', 'Boston', 'Shahrekord'], [{'firstname': 'Charles', 'lastname': 'Lec', 'age': 27, 'ID': 0}, {'firstname': 'Franco', 'lastname': 'Colapinto', 'age': 21, 'ID': 0}, {'firstname': 'Lewis', 'lastname': 'Hamilton', 'age': 40, 'ID': 0}]])

In [388]:
if "age" in myProfile.keys():
    print("age has been imported")
else:
    print("import age")

age has been imported

In [390]:
if "age" in myProfile.keys():
    if myProfile["age"] >= 18:
        print("allowed")
else:
    print("import age")

allowed

# 1.6 Files 
فایل ها یک سری موجود اند که ما  می توانیم توسط آن ها اطلاعاتمان را روی هارد ذخیره کنیم. این کار با متفیر ها شدنی نیست

In [393]:
tempFile = open('myProfile.text','w')  # در بلاک پایین آدرس فایل ذخیره شده با فرمت text io wrapper و فرمت نوشته سیو شده 
tempFile.write(str(myProfile))  # تبدیل به استرینگ برای فرمت نوشته بود 
tempFile.close() # بسته شدن فایل باز شده

In [395]:
print(tempFile)    #محل ذخیره فایل ما

<_io.TextIOWrapper name='myProfile.text' mode='w' encoding='cp1252'>

In [397]:
amirFile = open("amirProfile.txt" , "r")
amirProfile = amirFile.read()
amirFile.close()

In [399]:
print(amirProfile)

{'name': {'firstName': 'Amirhoshang', 'lastName': 'Hoseinpour Dehkordi'}, 'age': 34, 'cities': ['Tehran', 'Boston', 'Shahrekord'], 'farhadFriends': {'bestFriend': {'firstName': 'Philip', 'lastName': 'Fry', 'age': 35, 'id': 0}, 'lastButNotLeastFriend': {'firstName': 'Bender', 'lastName': 'Bending Rodríguez', 'age': 4, 'id': 1}, 0: {'firstName': 'Bender1', 'lastName': 'Bending Rodríguez', 'age': 4, 'id': 1}, 1: {'firstName': 'Bender2', 'lastName': 'Bending Rodríguez', 'age': 4, 'id': 1}, 2: {'firstName': 'Bender3', 'lastName': 'Bending Rodríguez', 'age': 4, 'id': 1}}, 'friends': [{'firstName': 'Philip', 'lastName': 'Fry', 'age': 35, 'id': 0}, {'firstName': 'Bender', 'lastName': 'Bending Rodríguez', 'age': 4, 'id': 1}, {'firstName': 'Amy', 'lastName': 'Wong', 'age': 30, 'id': 2}]}

# Functions

### session 14

In [403]:
print(len('amir'))

4

### if you use camel case format for variables, use snake case for functions so you know they are different.

In [406]:
def function_name(myInput):
    print(myInput)

    return myInput * 2

In [408]:
function_name('amir')

amir

'amiramir'

In [410]:
myFuctionValue = function_name('amir')
myFuctionValue

amir

'amiramir'

In [412]:
def function_name(myInput):
    #print(myInput)

    return myInput * 2

myFuctionValue = function_name('amir')
myFuctionValue

'amiramir'

## Write a function to take n and returns fib(n)

In [415]:
def fib_n(input):
    if n == 0:  
        return 0  
    if n == 1:  
        return 1
    fib(n) = fib(n-1) + fib(n-2)                                           # my code has some issues that doesn't run correctly
    while finb(n) <= 100:

    print(fibInt)
    fibInt -= 1



    print(fib_n(input))

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (2389840879.py, line 6)

## Write a function to take p , n  and defines a P (number) to n (number) and plays Hop

In [418]:
def hop_p(p , n):
    return 
    if true: 
        print(hop)
    else:
        print('number')

In [ ]:
def swap(a , b):
    4 , 3 = swap(3 , 4)